@import "../../../scss/config";

.data-table-header {
	display: grid;
	// grid-template-columns: auto 1fr;
	grid-gap: 18px;

	.header-buttons {
		display: grid;
		grid-auto-flow: column;
		justify-content: start;
		grid-gap: 2px;

		.h-btn {
			background-color: $main-app-color;
			color: #fff;
			padding: 6px 8px;
			width: fit-content;
			display: grid;
			grid-auto-flow: column;
			grid-gap: 3px;
			align-items: center;
			font-size: 14px;
			cursor: pointer;
			border: 1px solid $main-app-color;
			svg {
				width: 13px;
				height: 13px;
			}
			&.select-all-btn {
				border-radius: 8px 0 0 8px;
			}
			&.delete-btn {
				border-radius: 2px;
				color: $main-app-color;
				background-color: lighten($main-app-color, 35%);
				border: 1px solid rgba($main-app-color, 0.2);
				svg {
					path {
						fill: $main-app-color;
					}
				}
			}
			&.contact-btn {
				border-radius: 0 8px 8px 0;
				svg {
					width: 15px;
					height: 15px;
				}
			}
		}
	}
	.main-find-form {
		display: grid;
		@include mediaLg {
			grid-template-columns: 74% 1fr;
		}
		@include mediaXXlg {
			grid-template-columns: 70% 1fr;
		}
		// grid-auto-flow: column;
		grid-gap: 18px;
		.search-input-wrap {
			display: grid;
			grid-template-columns: 1fr auto;
		}

		.find-input-radios-wrap {
			display: grid;
			// justify-items: center;
		}

		.find-input-checkbox-wrap {
			display: grid;
			grid-template-columns: 1fr auto;
			grid-gap: 12px;
		}
		.radios-find-wrap {
			display: grid;
			grid-template-columns: auto 1fr;
			grid-gap: 12px;
			.radios-group-wrap {
				margin-bottom: 0;
				margin-top: 8px;
				margin-left: 12px;

				.ant-radio-group {
					display: grid;
					grid-auto-flow: column;
					justify-content: space-around;
				}
			}
			.find-input {
				margin-bottom: 0;
				input {
					height: 36px;
					border-radius: 8px 0 0 8px;
				}
			}
			.exact-checkbox {
				margin-bottom: 0;
				margin-top: 2px;
			}
		}
		.ant-input-search-button {
			border-radius: 0 8px 8px 0 !important;
			height: 36px;
		}
		.find-span {
			display: flex;
			align-items: center;
			gap: 4px;
		}
		//
		.websites-checkboxs-wrap {
			display: grid;
			.websites-checkboxs {
				display: grid;
				margin-bottom: 0;
			}
			.ant-checkbox-group {
				display: grid;
				@include mediaLg {
					grid-template-columns: repeat(2, 1fr);
				}
				@include mediaXXlg {
					grid-template-columns: repeat(3, 1fr);
				}
				grid-gap: 4px;
				.ant-checkbox-wrapper {
					margin-left: 0 !important;
				}
			}
		}
	}
}
