#recaptcha-container {
	display: none;
}
@import "./config";
@import "./common";
@import "./modals";

html {
	scroll-behavior: smooth;
	color: $main-black-color;

	// &[lang="ar"] {
	// 	@include bodyFont-ar;
	// 	button {
	// 		@include bodyFont-ar;
	// 	}
	// }
	&[lang="en"] {
		@include bodyFont-en;
		button {
			@include bodyFont-en;
			font-weight: bold;
		}
	}
}

body {
	margin: 0;
	padding: 0;
	margin-top: 52px;
	overflow-x: hidden !important;
	@include custom-scrollbar;
	background-color: #f0f0f0;
}

.app {
	min-height: 100vh;
	// background-color: #f5f5f5;
	display: grid;
	grid-template-rows: auto 1fr;

	margin: 0;
	padding: 0 !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@import "./css/fontello.css";
	@import "./css/ionicons.css";
}
